/*.featured-item {
    text-rendering: optimizeLegibility;
}

.featured-product .featured-product-bgimage {
    position: absolute;
    left: 50%;
    margin-left: -1050px;
    top: 0;
    min-width: 100%;
}
.featured-product {
    position: absolute;
    display: block;
    z-index: 3;
    overflow: hidden;
    width: 110%;
    height: 600px;
    padding-top: 60px;
    text-align: center;
    color: #fff;
    font-weight: 300;
    background-position: center center;
    background-repeat: no-repeat;
    background-color: #333333;
    background-color: #000000;
}

.featured-product .featured-product-bgimage {
    position: absolute;
    left: 50%;
    margin-left: -1050px;
    top: 0;
}
.header {
    position: relative;
    width: 100%;

}
.gh-shop-logo-fill {
    fill: white;
}

.navbar {
    position: absolute;
    background: transparent;
    left: 14%;
    width: 920px;
    z-index: 6;

}
*/
@media (max-width: 767px) {
    #btn-cart {
        visibility: hidden;
    }


}
@media (min-width: 767px) {

    #alis-cart {
        visibility:hidden;
    }
}

html, body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding:0;
    height:100%;
    font-weight: 700;
}

p {
    font-weight: normal;
}

.container-fluid {
    position:relative;
    padding: 0;
    min-height: 100%
}
.navbar-brand, .nav-link {
    color: #F91675;
}
.navbar {
   position: absolute;
   width: 80%;
   margin: 0 auto;
}


.fa-bars {
    color:#1974FF;
}
.buy{
    position: absolute;
    top: 330px;
    left: 170px;
    border-radius: 5px;
}
.jumbotron {
    background: url(../img/workspace1.jpg) no-repeat center center;
    background-size: cover;
    height: 600px; 
    text-decoration: none;
    color: white;
    font-size: 40px;
} 
.big_sologan {
    font-family: Helvetica Neue, sans-serif;
    position: absolute;
    top: 210px;
    left: 170px;
    font-weight: 300;
}

.sologan {
    position: absolute;
    font-size: 15px;
    top: 270px;
    left: 170px;
    font-weight: 100;
}

#btn-cart {
    color: #999999;
    border: 1px solid  #999999;
    text-decoration: none;
    text-align: center;
    display: block;
    width: 3.95em;
    border-radius: 10%;
    margin-left: 10px;
    position: absolute;
    right: 63px;
    padding: 0;
    height: 50px;
}


.cart-count, .cart-text {
    padding: 1px;
}
.cart-count {
    font-size: 20px;
    padding: 0px;
    color: black;
    margin: 0px;
}

.cart-text {
    border-top: 1px solid #999999;
    font-size: 10px;

}
#btn-cart:hover{
    border-color: #4183c4;
    
    border-bottom-left-radius: 10%;
    border-bottom-right-radius: 10%;
}
#btn-cart:hover .cart-text{
    color: white;
    background-color: #4183c4;
    border-color: #4183c4;
    
}
/*.cart-count:hover ~ .cart-text {
    color: #EEEEEE;
    background: #4183c4;
    border-color: #4183c4;
    border-top: 1px solid #4183c4;
    border-bottom-left-radius: 10%;
    border-bottom-right-radius: 10%;
}
.cart-text:hover {
    color: #EEEEEE;
    background: #4183c4;
    border-color: #4183c4;
    border-top: 1px solid #4183c4;
    border-bottom-left-radius: 10%;
    border-bottom-right-radius: 10%;
}
*/
.content {
    padding-top: 200px;
    padding-bottom: 150px;
    margin: 0 auto;
}
.card {
    margin-top: 30px;
}

.content-about {

    margin: 0 auto;
    margin-top: 20px;
    padding-bottom: 100px;
}
.content-item {
    margin: 0 auto;
    margin-bottom: 20px;
    padding-bottom: 100px;

}


.colorBar {
    color: black;
}

.borderBar {
    border-top: 1px solid black;
    border: 1px solid black;
}

.paddingBar {
    padding-bottom: 15px;
    border-bottom: 1px solid #eee;
}

.price {
    position: absolute;
    font-size: 20px;
    top: 22px;
    left: 80%;
}

.content-header {
    position: relative;
    margin-bottom: 30px;
    overflow: hidden;
}

.content-header .product-title {
    float: left;
}
.product-title, .content-header .price {
    font-weight: 300;
    margin: 10px 0;
    letter-spacing: -.5px;
}

.img-thumbnail.detail{
    margin-bottom: 20px;
}

.btn.btn-add {
    background-color: #28a745;
    color: #fff;
    width: 100%;
    cursor: pointer;
    margin: 0;
}

.extra-content {
    font: 13px helvetica,arial,freesans,clean,sans-serif;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin-bottom: 10px;
    margin-top: 10px;
    font-weight: 300;
}
.custom-select {
    width: 100%;
}

.cart-form {
    margin: 0px;
    color: #333;
    font-size: 13px;
    position: relative;
    overflow: hidden;
    border: 1px solid #ddd;
    background: #fafafa;
    border-radius: 5px 5px 0 0;
    margin-bottom: 30px;
}

.itemcart-info {
    margin: 0;
    padding: 0;
}

.cart-header {
    position: relative;
    padding: 5px;
}


#cart-title {
    display: block;
    width: 380px;
    padding: 0 10px;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-weight: 300;
    margin:0;
}

.text-checkout{
    color: #2b9fb8;
    font-size: 15px;
    vertical-align: middle;
    float: right;
}
.text-info-checkout{
    font-size: 15px;
    float: right;
   /* letter-spacing: 0;
   font-size: 1.17em;*/ 

}

.continue {
    display: block;
    position: absolute;
    top: 0px;
    height: 100%;
    right: 0px;
    color: #666;
    font-size: 11px;
    border-left: 1px solid #ddd;
    cursor: pointer;
    text-decoration: none;
    line-height: 3.5;
    padding: 0 10px;
}

.continue:hover {
    background-color: #eaeaea;
    text-decoration: none;
}

.additional-checkout-button {
    border: 0 !important;
    border-radius: 5px !important;
    display: inline-block;
    margin: 0 0 10px;
    padding: 0 24px !important;
    min-width: 150px !important;
    line-height: 44px !important;
    text-align: center !important;
    background-color: #ffc439 !important
}

#form-group-header {
    margin: 0;
}

tr {
    display: table-row;
}

.table td {
    display: table-cell;
    vertical-align: middle;
}

.img-product {
    width: 100px;
    height: auto;
    border-radius: 5px;
}

.product-name {
    font-size: 15px;
    margin: 0px;
    padding: 0px;
    font-weight: 400;
}

.product-variant {
    font-size: 13px;
    color: #999;
    margin: 0px;
    font-weight: 300;
}
.qty > div {
    float: right;
    font-weight: bold;
    font-size: 13px;
    text-align: right;
}

.remove {
    border-radius: 3px;
    border: 1px solid #d4d4d4;
    background-color: #f4f4f4;
    background-image: linear-gradient(to bottom, #f4f4f4, #ececec);
    font-size: 11px;
    font-weight: bold;
    color: inherit;
    display: inline-block;
    padding: 3px 7px;
}

.remove:hover {
    background: #e65146;
    color: white;
}
input {
    margin: 0px 5px;
    width: 50px;
    text-align: center;
    font-weight: 300;
    border-radius: 3px;
    background-clip: padding-box;
    border: 1px solid #ddd;
    font-size: 13px;
    padding: 3px 7px 3px;
}

.cart-update {
    text-align: right;
    font-weight: bold;
}


.cart-update .btn-update {
    border-radius: 3px;
    border: 1px solid #d4d4d4;
    margin-right: 10px;
    background-color: #f4f4f4;
    background-image: linear-gradient(to bottom, #f4f4f4, #ececec);
    font-size: 11px;
    font-weight: bold;
    color: inherit;
    display: inline-block;
    padding: 3px 7px 1px;
}

.btn-update:hover {
    background: #599bdc;
    color: white;
}

.cart-checkout {
    font-size: 19px;
    position: relative;
    overflow: hidden;
    text-align: right;
    font-weight: bold;
}

.cart-checkout:hover {
    opacity: 0.8;
}

.cart-checkout .btn-checkout {
    float: right;
    border: 1px solid #4a993e;
    padding: 3px 7px 1px;
    background-color: #36b725;
    margin-left: 20px;
    color: white;
}

.form-control {
    margin-bottom: 10px;
}

.checkout-info {
    margin-top: 60px;
}
.sidebar {
    background: #e1e1e1;
    position: 
}
.order_summary {
    border-bottom: 1px solid rgba(175,175,175,0.34);
    margin-bottom: 10px;
    margin-top: 10px;
}


/*Thêm hiệu ứng khi hover đến sản phẩm*/
.card:hover {
    transition: 0.3s;
    opacity: 0.7;
}

/*Điều chỉnh vị trí của card-title và card-price*/
.card-body {
    position: relative;
    vertical-align: middle;
}

.card-title, .card-price {
    top: 0%;
    height: 100%;
    text-align: center;
    padding-top: 2%;
}

.card-title {
    position: absolute;
}

.card-price {
    position: absolute;
    right: 5%;
    padding-left: 3%;
    border-left: 1px solid rgba(175,175,175,0.34);
}

.facebook {
    position: absolute;
    right: 0px;
}

/*style for login view*/
.signin-container {
    margin-top: 100px;
}

.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}