/*.featured-item {
    text-rendering: optimizeLegibility;
}

.featured-product .featured-product-bgimage {
    position: absolute;
    left: 50%;
    margin-left: -1050px;
    top: 0;
    min-width: 100%;
}
.featured-product {
    position: absolute;
    display: block;
    z-index: 3;
    overflow: hidden;
    width: 110%;
    height: 600px;
    padding-top: 60px;
    text-align: center;
    color: #fff;
    font-weight: 300;
    background-position: center center;
    background-repeat: no-repeat;
    background-color: #333333;
    background-color: #000000;
}

.featured-product .featured-product-bgimage {
    position: absolute;
    left: 50%;
    margin-left: -1050px;
    top: 0;
}
.header {
    position: relative;
    width: 100%;

}
.gh-shop-logo-fill {
    fill: white;
}

.navbar {
    position: absolute;
    background: transparent;
    left: 14%;
    width: 920px;
    z-index: 6;

}
*/

body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin:0;
    padding:0;
    height: 100%;
}

.container-fluid {
    position:relative;
    padding: 0;
    min-height: 100%
}

.navbar {
 position: absolute;
 width: 80%;
 margin: 0 auto;
}

.fa-bars {
    color:white;
}

.jumbotron {
    background: url(../img/decal.jpg) no-repeat center center;
    background-size: cover;
    height: 600px; 
} 

#btn-cart {
    color: white;
    border: 1px solid white;
    text-decoration: none;
    text-align: center;
    display: block;
    width: 4.5em;
    border-radius: 5px;
    margin-left: 10px;
    position: absolute;
    right: -10px;
    padding: 0;
    height: 50px;
}
.cart-count, .cart-text {
    padding: 1px;
}
.cart-count {
    font-size: 20px;
    padding: 0px;
    
    margin: 0px;
}

.cart-text {
    border-top: 1px solid white;
    font-size: 10px;

}
.cart-count:hover ~ .cart-text {
    color: white;
    background: #4183c4;
    border-top: 1px solid blue;
}
.cart-text:hover {
    color: white;
    background: #4183c4;
    border-top: 1px solid blue;
}
#btn-cart:hover {
    border: 1px solid #4183c4;
}
.content {
    width: 945px;
    padding-bottom: 60px;
    margin: 0 auto;
}
.card {
    margin-top: 30px;

}

.content-about {
    width: 945px;
    margin: 0 auto;
    margin-top: 100px;
    margin-bottom: 100px;
}

.footer {
    position: relative;
    bottom: 0;
    width: 100%;
    font-size: 13px;
    color: #636363;
    padding: 30px 0 28px;
    border-top: 1px solid #eeeeee;
    font-weight: 300;
}